body {
    background-size: cover;
    background-color: #efefef;
}

.wrapper {
    margin: auto;
}

header {
    text-align: center;
}

h4{
  height:4rem;


}

header #menu-open {
    width: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
}

header #menu-open span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #777;
}

header h1, header nav {
    display: block;
}

header h1 {
    color: gray;
    width: 320px;
}

header nav {
    position: fixed;
    width: 250px;
    min-height: 80vh;
    left: -250px;
    top: 0;
    background-color: white;
    text-align: left;
}

header nav h2 {
    display: inline-block;
    padding: 0 0 0 5px;
}

header nav #menu-close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 5px;
    top: 5px;
}

#logo {
    text-align: center;
    float: left;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    list-style-type: none;
    font-size: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #777;
    margin: 0 0 0 0;
    padding: 2rem;
    display: block;
    transition: all .2s;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
}

header nav ul li a:visited {
    color: #777;
}

header nav ul li a:hover {
    color: #252525;
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
    font-family: 'Amita', cursive;*
    font-style: italic;
    background-color: #ddd;
    text-decoration: underline;
}

main h4 :hover {
    max-width: 90vw;
    margin: auto;
    font-family: 'Amita', cursive;*
    font-style: italic;
    text-decoration: underline;
}

main section h2 {
    text-align: center;
    color: lightgray;
}

.Project {
    margin: 20px auto 0;
    padding: 0 0 15px 0;
    max-width: 800px;
    min-height: 100px;
    text-align: center;
}

.Project a {
    padding: 5px 5px 5px 5px;
    background-color: #69c;
    text-decoration: inherit;
    margin: 10px;
    border-radius: 4px;
    transition: all .2s;
}

.Project a:hover {
    background-color: #7ad;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
